<button type="button" class="btn btn-labeled btn-warning">
    <span class="btn-label"><i class="fa-solid fa-skull-crossbones fa-fade"></i></span><span style="margin-left: 10px;">REMOVEFV</span>
</button>
